<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChartMetricsAPI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <style>
        .code {
            background-color: #eee;
            padding: 10px;
            display: block;
            overflow-x: auto;
        }
        .container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="mb-4">
            <h1>ChartMetricsAPI</h1>
        </header>
        <main>
            <section class="mb-3">
                <h2>About the API</h2>
                <p>This API provides access to medical chart data, allowing for querying individual records and aggregating data across various dimensions.</p>
            </section>
            <section class="mb-3">
                <h2>Endpoints</h2>
                <p><strong>Record Lookup:</strong> Retrieve data for a comma-separated list of IDs.</p>
                <div class="code">
                    GET /records/
                </div>
                <p></p>
                <p><strong>Data Summary (SQL):</strong> Aggregate data using SQL queries.</p>
                <div class="code">
                    GET /summary/sql
                </div>
                <p></p>
                <p><strong>Data Summary (Pandas):</strong> Aggregate data using Pandas in Python.</p>
                <div class="code">
                    GET /summary/pandas
                </div>
            </section>
            <section class="mb-3">
                <h2>Getting Started</h2>
                <p>To start using the API, you can make HTTP requests to the above endpoints. For example: </p>
                <div class="code">
                    GET /records/?Ids=1,2,3
                </div>
                <p>Please refer to the <a href="ui">documentation</a> for detailed information on request and response formats.</p>
            </section>
            <section>
                <h2>Contact</h2>
                <p>If you have any questions or feedback, please reach out to me at <a href="mailto:camaron.mangham@gmail.com">camaron.mangham@gmail.com</a>.</p>
            </section>
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
